<form [formGroup]="dates">
        <div>   
            <h4>ARRIVE</h4>
            <label for="date"></label> <br>
            <input type="date" name="date" id="date" #departure (blur)= "getArrivalDate(departure.value)">
        </div>
    </form>
