<form autocomplete="off" [formGroup]="airport">

<label for="">De:</label>
<select formControlName="city">
    <option *ngFor="let city of LIST_OF_CITYS" [value]="city.iataCode">{{city.name}}</option>
</select>

<label for="">Para:</label>
<select formControlName="destination">
<option *ngFor="let city of DESTINATIONS_DETAIL" [value]="city.iataCode">{{city.name}}</option>
</select>

</form>
