<app-airport-selector (sendingAirportsIataCodes)=getAirportsIataCodes($event)></app-airport-selector>
<app-departure-date (dataDepartureSelection)="getDepartureDate2($event)"></app-departure-date>
<app-arrive-date (dataArrivalSelection)="getArrivalDate($event)"></app-arrive-date>
<button (click)="findFlight()">CLICK ME</button>

<div *ngIf="ITSDATAFETCH">
    <h3>FLIGHT DESCRIPTIONS</h3>
    <p *ngFor="let flights of RESULT_FLIGHT_SERARCH">PRICE: {{flights.price | number: '1.0-2' }}{{flights.currency}}  -  DEPARTURE:{{flights.dateFrom | date:'medium'}} -  ARRIVAL:{{flights.dateTo | date:'medium'}}</p>
</div>